<div class="container-fluid mt-5 mb-5 d-flex">
    <div *ngIf="error" class="alert alert-danger">Error non ci sono dati</div>
    <!-- CONTAINER FILM -->
    <div class="row col-lg-8 ">
        <div *ngFor="let film of films" class="card mr-4 mt-4 shadow" [ngClass]="{'active': film.id === active?.id}"
            (click)="setActive(film)">
            <img [src]="film.img ? film.img : '../assets/thumbnails/img-nf.jpg'" alt="">
            <div class="card-body">
                <div class="title-card">
                    <h5 class="card-title mb-0">{{film.title}}</h5>
                    <small class="card-text">{{film.author}}</small>
                </div>
                <div class="rate d-flex mt-2">
                    <p class="mr-2">voto: </p>
                    <p [style.color]="film.rate >= 7 ? 'limegreen' : 'red' " class="card-text">{{film.rate}}</p>
                </div>
            </div>
            <div class="delete d-flex shadow">
                <i (click)="delete($event,film)" class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <!-- CONTAINER FILM -->

    <!-- FORM EDIT -->
    <div class="form-create col-lg-4">

        <div class="d-flex title-form">
            <h5>Edita e inserisci nuovi film</h5>
        </div>

        <app-form></app-form>
    </div>
    <!-- FORM EDIT -->


</div>